.manokwari-fullscreen-dialog {
    background-color: rgba(10, 10, 10, 0.6);
    color: white;
 }

.manokwari-fullscreen-dialog button {
    background-color: rgba(10, 10, 10, 0.8);
    color: white;
    border-color: rgba(10, 10, 10, 0.8);
    border-style: solid;
    border-width: 2px;
 }
 
.manokwari-fullscreen-dialog button:hover {
    background-color: rgba(10, 10, 10, 1);
    color: white;
    border-color: rgba(10, 10, 10, 1);
    border-style: solid;
    border-width: 2px;
 }

.manokwari-panel {
	background-color: #000;
	color: #ededed;
}

.manokwari-panel-window-names {
	background-color: #1a1a1a;
	color: #ededed;
	text-shadow: -1px 1px 1px #1a1a1a;
	font-size: 9px;
}

